<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>
<h1>Things to do</h1>
<table border="1">
    <tr>
        <th>
        Date Created
        </th>
        <th>
        Name
        </th>
        <th>
        Done?
        </th>
        <th>
        Action
        </th>
    </tr>
    <tr th:each="todo,iter : ${todos}">
        <td th:text="${todo.createdAt}"></td>
        <td th:text="${todo.name}"></td>
        <td><span th:if="${todo.done}">✅</span></td>
        <td>
            <form action="/todos" method="get">
                <input type="hidden" name="mark_as_done" th:value="${iter.index}">
                <input type="submit" value="Change status" />
            </form>
        </td>
    </tr>
</table>
</body>
</html>